#
# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

awscli 2.33.12

golang 1.25.6

jq 1.7.1

just 1.46.0

pre-commit 4.5.1

terraform 1.14.4

terraform-docs 0.21.0

tflint 0.60.0

tfsec 1.28.14

trivy 0.69.0
