#
# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

awscli 2.22.26

golang 1.23.4

just 1.38.0

pre-commit 4.0.1

terraform 1.10.3

terraform-docs 0.19.0

tflint 0.54.0

tfsec 1.28.11
